
$item-width: 100px;
$item-height: 150px;

.persons_container {
    margin-top: 30px;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;

    ._person {
        width: $item-width;
        height: $item-height;
        margin: 10px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        // background-color: cornflowerblue;
        &:hover {
            transition: transform 100ms linear;
            transform: scale(1.2);
        }

    }
}


$anime-time: 2s;

$box-size: 200px;
$main-color: #b80d57;

// $path: url('png.png');

%full-fill {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
$clip-distance: -5px;
$clip-distance2: -$clip-distance;
$frame-full-width: $item-width + (-$clip-distance * 2);
$frame-full-height: $item-height + (-$clip-distance * 2);

.person-frame {
    @extend %full-fill;
    width: $item-width;
    height: $item-height;
    margin: auto;
  //   background: $path no-repeat 50% / 70% rgba(#000, .1);
    color: $main-color;
    box-shadow: inset 0 0 0 2px rgba($main-color, .5);    // 바로옆에 얆은 선
  
    &.__selected {
        &::before,
        &::after {
            @extend %full-fill;
            content: '';
            z-index: -1;
            margin: $clip-distance;
            box-shadow: inset 0 0 0 2px;
            animation: clipMe $anime-time linear infinite;
        }
    
        &::before {
            animation-delay: $anime-time * -.5;
        }
    }
  
    // // for debug
    &.__selected {
      &::after,
      &::before {
        // background-color: rgba(#f00, .3);
      }
    }
}

.person-frame2 {
    @extend %full-fill;
    width: $item-width;
    height: $item-height;
    margin: auto;
  //   background: $path no-repeat 50% / 70% rgba(#000, .1);
    color: $main-color;
    box-shadow: inset 0 0 0 2px rgba($main-color, .5);    // 바로옆에 얆은 선
  
    &:hover {
        &::before,
        &::after {
            @extend %full-fill;
            content: '';
            z-index: -1;
            margin: $clip-distance;
            box-shadow: inset 0 0 0 2px;
            animation: clipMe $anime-time linear infinite;
        }
    
        &::before {
            animation-delay: $anime-time * -.5;
        }
    }
  
    // // for debug
    &:hover {
      &::after,
      &::before {
        // background-color: rgba(#f00, .3);
      }
    }
}
  
  @keyframes clipMe {
    0%, 100% {clip: rect(0, $frame-full-width , $clip-distance2 , 0);
        color: #eda0f0;
    }
    25% {clip: rect(0, $clip-distance2, $frame-full-height , 0);
        color: #f5fcc1;
    }
    50% {clip: rect($frame-full-height - $clip-distance2, $frame-full-width , $frame-full-height , 0);
    color:#bae5e5
}
    75% {clip: rect(0, $frame-full-width , $frame-full-height , $frame-full-width - $clip-distance2);
    color: #6fc9e7}
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }